*{
    margin: 0;
    padding: 0;
  
}
.Card{
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);

   
  width: 250px;
    height: 320px;
    border-radius: 8px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.769) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
   
   

}
.profile-image{
    border-radius: 50%;
    width: 50%;
}

.profile-btn{
    padding: 10px;
    border-color: aliceblue;
    border-radius: 4px;
    text-decoration: none;
    color: green;
    background-color: aliceblue;
}
.profile-btn:hover{
    background-color: green;
    transition: 1s;
    color: white;
}
h2{
    color: white;
}